*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
      }





body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: rgb(241, 241, 241);
}

header {
	width: 100%;
	height: 50px;
	background-color: #fff;
}

header:after { 
	content: ".";
	height: 0;
	clear: both;
	display: none;
}

header * {
	
	display: inline-block;
	vertical-align: middle;
}

.logo-container {
	padding: 5px 3px 0 10px;
}

.btn-container {
	margin-top: 10px;	
}

form input {
	width: 500px;
	height: 28px;
	margin-left: 150px;
	font-size: 13pt;
	border: 1px solid rgb(204, 204, 204);
	z-index: 2;
}

form input:focus {
	border-color: rgb(28, 98, 185);
}

.key-img {
	margin-left: -40px;
}

.search-btn {
	width: 65px;
	margin-left: 2px;
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(204, 204, 204);
	border-left: none;
	z-index: -1;
}

.right-menu {
	float: right;
	margin-top: 7px;
}

.right-menu * {
	margin-right: 15px;
}

.container { 
	width: 960px;
	margin: 10px auto;
	
}

.video {
	width: 560px;
	vertical-align: top;
	display: inline-block;

}


.see-also { 
	width: 390px;
	height: 700px;
	margin-left: 10px;
	display: inline-block;
	background-color: white;
}

ul {
	list-style: none;
}

.description {
	width: 560px;
	height: 150px;
	vertical-align: top;
	border: 1px solid red;
}


	

